target/
.mvn/
.settings/
mvnw
mvnw.cmd
*.sw
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
.classpath
.project
/target/
/bin/
src/main/resources/static/css/style.css
src/main/resources/static/js/index.js
src/main/resources/static/template/index.html
src/main/resources/static/css/**
src/main/resources/static/img/**
src/main/resources/static/js/**
src/main/resources/static/template/**
